* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  height: 100px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  order: 0;
  align-self: center;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  order: 1;
  list-style: none;
}
.profile {
  order: 2;
  align-self: flex-start;
}
