* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}
:root{
  --input-black:#222529;
  --white:#FFFFFF;
  --soft-gray:#EEEEEE;
  --soft-black:#6F6E6B;
  --gray-font-color:#7B858A;
}
.container {
  margin: 0 auto;
  width: 1200px;
}

.main-img > img {
  height: 478px;
  width: 478px;
}

.detail {
  display: flex; /* İçeriği yatayda yan yana göstermek için */
  justify-content: center; /* İçerikleri aralıklı olarak yerleştirme */
}

.slider {
  width: 500px;
  height: 600px;
 
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 5px;
}

.carousel img {
  height: 114px;
  width: 114px;
}

.product-detailss {
 
  width: calc(100% - 500px);
  height: 622px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.product-rate{
  margin-top: 20px;
}
.product-price{
  margin:  20px 0;
}
.product-price > .old-price{
text-decoration: line-through;
margin-right: 5px;
}
.related-product {
  width: auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

ul{
  list-style: none;
  margin-top: 20px;
}
ul li{
  margin: 10px 0;
}
.add-to-cart, .btn{
  padding:15px ;
  margin-bottom: 10px;
  background-color: var(--input-black);
color: var(--white);
}
.product-share ul li{
  display: inline-block;
}
.product-share ul li a{
  font-size: 15px;
  padding: 5px;
}
a{
  text-decoration: none;
}
.rel-box {
  display: flex;
  overflow-x: auto;
  gap: 20px; /* İstediğiniz boşluk miktarını ayarlayabilirsiniz */
}
.product-default{
  flex: 0 0 auto;
  width: 280px;
  height: 500px;
  display: flex;
  flex: 1;
  flex-direction: column; /* Öğeleri alt alta sıralamak için */
  justify-content: flex-start; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
}
.product-details .product-title{
  margin-top: 15px;
  text-align: center!important;
}
.old-price{
  text-decoration: line-through;
}
.price{
  margin-top: 15px;
  text-align: center!important;
}
.product-action > .add-to-cart{
  margin-top: 15px;
  background-color: var(--soft-gray);
  border: 1px solid  var(--soft-gray);
  color: var(--soft-black);
  transition: 0.3s all ease-in-out;
}
.product-action > .add-to-cart:hover{
  background-color: var(--input-black);
  color: var(--white);
  cursor: pointer;
}
.product-default:hover{
  transition: 0.3s all ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.number{
  padding: 15px 10px;
  text-align: center;
}
.product-desc-content {
  color: var(--gray-font-color);
}
.product-desc-content > p {
  padding: 20px 0;
}
.product-desc-content > ul li i {
  color: #21293C!important;
}
.product-desc-content ul {
  padding-left: 30px;
}
.product-desc-content ul li {
  padding: 5px 0;
}
.related-product h2{
  padding: 10px 0;
}
hr{
  margin-bottom: 30px;
}